@import "tailwindcss";

:root {
  /* Font-Sizes for Laptop */
  --h1: 3.125rem; /* 50px */
  --h2: 2.625rem; /* 42px */
  --h3: 2rem; /* 32px */
  --h4: 1.5rem; /* 24px */
  --h5: 1.25rem; /* 20px */
  --h6: 1rem; /* 16px */
  --xl: 1.25rem; /* 20px */
  --lg: 1.125rem; /* 18px */
  --md: 1rem; /* 16px */
  --sm: 0.875rem; /* 14px */
  --xs: 0.75rem; /* 12px */

  /*Colors*/
  --orange-primary: #FF5037;
  --yellow: #FEC432;
  --sky-blue: #00a3ff;
  --naval-blue: #0a2e82;
  --dark-blue: #024376;
  --pale-blue: #018abe;
  --light-blue: #edf9ff;
  --light-sky-blue: #f4fbff;
  --white: #ffffff;
  --red: #e1282b;
  --pale-gray: #afafaf;
  --light-gray: #e3e3e3;
  --dark-gray: #969696;
  --pale-black: #020600;
  --black: #312d2d;
  --footer-blue: #195584;

/* Gradients */
   --primary-gradient: linear-gradient(
    99deg,
    #2faef5 10%,
    #1140ff 60%,
    #2faef5 90%
  );

   --dark-blue-upside-down-gradient: linear-gradient(
    180deg,
    #025da4 0%,
    #024376 82.54%
  );

   --dark-blue-globe-gradient: linear-gradient(
    96deg,
    #024376 0.55%,
    #025da4 52.88%,
    #024376 99.5%
  );

  @theme {
  --color-sky-blue: var(--sky-blue);
  --color-orange : var(--orange-primary);
  --color-yellow : var(--yellow);
  --color-naval-blue: var(--naval-blue);
  --color-dark-blue: var(--dark-blue);
  --color-light-sky-blue: var(--color-light-sky-blue);
  --color-pale-blue: var(--pale-blue);
  --color-light-blue: var(--light-blue);
  --color-white: var(--white);
  --color-red: var(--red);
  --color-pale-gray: var(--pale-gray);
  --color-light-gray: var(--light-gray);
  --color-dark-gray: var(--dark-gray);
  --color-pale-black: var(--pale-black);
  --color-black: var(--black);
  --color-footer-blue: var(--footer-blue);

  /* Font-size */
  --text-h1: var(--h1); /*50px*/
  --text-h2: var(--h2); /*42px*/
  --text-h3: var(--h3); /*32px*/
  --text-h4: var(--h4); /*24px*/
  --text-h5: var(--h5); /*20px*/
  --text-h6: var(--h6); /*16px*/
  --text-xl: var(--xl); /*20px*/
  --text-lg: var(--lg); /*18px*/
  --text-md: var(--md); /*16px*/
  --text-sm: var(--sm); /*14px*/
  --text-xs: var(--xs); /*12px*/

  /* Breakpoints */
  --breakpoint-xs: 400px;
}
}

/* Tablet (768px – 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  :root {
    --h1: 2.875rem; /* 46px */
    --h2: 2.313rem; /* 37px */
    --h3: 2rem; /* 32px */
    --h4: 1.5rem; /* 24px */
    --h5: 1.125rem; /* 18px */
    --h6: 1rem; /* 16px */
    --xl: 1.125rem; /* 18px */
    --lg: 1rem; /* 16px */
    --md: 0.875rem; /* 14px */
    --sm: 0.75rem; /* 12px */
    --xs: 0.6875rem; /* 11px */
  }
}

/* Font-Sizes for Mobile */
@media (max-width: 767px) {
  :root {
    --h1: 2.625rem; /* 42px */
    --h2: 2rem; /* 32px */
    --h3: 1.75rem; /* 28px */
    --h4: 1.5rem; /* 24px */
    --h5: 1.125rem; /* 18px */
    --h6: 1rem; /* 16px */
    --xl: 1.125rem; /* 18px */
    --lg: 1rem; /* 16px */
    --md: 0.875rem; /* 14px */
    --sm: 0.75rem; /* 12px */
    --xs: 0.6875rem; /* 11px */
  }
}

.max-w-site {
  max-width: 1440px;
}

body {
  overflow-x: hidden;
  background-color: var(--white);
  line-height: normal;
}

